<!--
 * @file about.ejs
 * @author Samuel Beaulac
 * @date 19/10/2025
 * @brief Partial pour la section À propos
 -->

<section class="about__section">
  <div class="section color-scheme-1">
    <div class="about__container">
      <h1>About</h1>
    </div>
  </div>
</section>
