<!--
 * @file head.ejs
 * @author Samuel Beaulac
 * @date 19/10/2025
 * @brief Partial pour l'entête HTML
 -->

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>PaysG20</title>

<link rel="stylesheet" href="/css/base.css" />
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/footer.css" />
<link rel="stylesheet" href="/css/contact-form.css" />
<link rel="stylesheet" href="/css/data-section.css" />
<link rel="stylesheet" href="/css/delete-form.css" />
<link rel="stylesheet" href="/css/hero-section.css" />
<link rel="stylesheet" href="/css/404.css" />
<link rel="stylesheet" href="/css/about.css" />

<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/insert.js"></script>
