<!--
 * @file hero-section.ejs
 * @author Samuel Beaulac
 * @date 19/10/2025
 * @brief Partial pour la section hero
 -->

<section class="hero__section">
  <div class="section color-scheme-1">
    <div class="hero__container">
      <h1 class="hero__title">Bienvenue sur PaysG20</h1>
    </div>
  </div>
</section>
