/**
 * @file about.css
 * @author Samuel Beaulac
 * @date 19/10/2025
 * @brief Styles pour la page À propos
 */

.about__section {
}

.about__container {
  max-width: 40rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
