<!--
 * @file delete.ejs
 * @author Samuel Beaulac
 * @date 19/10/2025
 * @brief Page de suppression de données
 -->

<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="page-width">
    <%- include('../partials/header') %>
    <main class="content-for-layout">
      <%- include('../partials/delete-section') %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
